<div class="w-64">
    <ul class="px-10 text-white text-lg bg-gray-700 fixed h-full text-center">
        <li class="mt-10">
            <i class="fa-regular fa-calendar"></i> <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}admin/eventlist.php"/>イベント</a>
        </li>
        <li class="mt-4">
            <i class="fa-regular fa-user"></i>
            ユーザー
        </li>
        <li class="mt-4">
            <i class="fa-regular fa-flag"></i>
            お知らせ
        </li>
        <li class="mt-4">
            <i class="fa-regular fa-envelope"></i>
            お問い合わせ
        </li>
    </ul>
</div>
