<div class="flex justify-around">
    <div class="">
        {% include 'menu.html.twig' %}
        <button data-modal-target="default-modal" data-modal-toggle="default-modal" id="modal_button" class="py-3 w-full rounded text-3xl font-bold"><i class="fa-solid fa-bars" style="color: #d6d6d6;"></i></button>
    </div>
    <div class="m-auto">
        <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}/eventlist.php"/>
            <img src="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}/img/logo_top.png" alt="">
        </a>
    </div>
    <div class="">
        &nbsp;
    </div>
</div>
