<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accountCreate</title>
</head>
<body>
    <form method="post" action="">
        メールアドレス<input type="text" name="mail_address">
        パスワード<input type="password" name="password">
        <input type="submit" value="ログイン">
    </form>
</body>
</html>
