<div>
    <label class="text-gray-700 text-sm">メールアドレス</label>
</div>

<div>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none focus:ring-2 ring-slate-200 mb-6" type="text" name="mail_address">
</div>


<div>
    <label class="text-gray-700 text-sm">パスワード</label>
</div>

<div>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none focus:ring-2 ring-slate-200 mb-6" type="password" name="password">
</div>
