<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>accountCreate</title>
</head>
<body class="overflow-scroll">
    <div class="container mx-auto max-w-[600px]">
        <div class="mx-auto px-8 mt-10">

            <div class="items-center mt-8">
                <form method="post" action="">
                    <div>
                        <label class="text-gray-700 text-sm">新しいパスワード</label>
                    </div>

                    <div>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none focus:ring-2 ring-slate-200 mb-6" type="password" name="new_password">
                    </div>

                    <div>
                        <button onclick="location.href='{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}passwordChange.php.php'" class="bg-gray-800 hover:bg-gray-700 text-white  {{constant('music_matching_app\\master\\initMaster::BUTTON_MODEL')}} ">変更する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
