<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accountCreate</title>
</head>
<body>
    <form method="post" action="">
        新しいパスワード<input type="password" name="new_password">
        <input type="submit" value="送信する">
    </form>
</body>
</html>
